{% extends '::base.html.twig' %}
{% block title %}Vehicle List{% endblock %}

{% block body -%}
    <h1>Vehicle List</h1>

    <table class="records_list table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Vehicle Type</th>
                <th>Registration No.</th>
                <th>Colour</th>
                <th>Number of Wheels</th>
                <th>Height</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('vehicle_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.vehicleType }}</td>
                <td>{{ entity.registrationNumber }}</td>
                <td>{{ entity.colour }}</td>
                <td>{{ entity.numberOfWheels }}</td>
                <td>{{ entity.height }}</td>
                <td>
                    <a class="btn btn-default btn-xs" href="{{ path('vehicle_show', { 'id': entity.id }) }}">show</a>
                    <a class="btn btn-default btn-xs" href="{{ path('vehicle_edit', { 'id': entity.id }) }}">edit</a
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        <a class="btn btn-default" href="{{ path('vehicle_new') }}">
            New Vehicle
        </a>
    {% endblock %}
