{% extends '::base.html.twig' %}

{% block body -%}
    <h1>CarPark list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Maxheight</th>
                <th>Numberofcarspaces</th>
                <th>Numberoflorryspaces</th>
                <th>Numberofmotorbikespaces</th>
                <th>Maxstay</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('carpark_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.maxHeight }}</td>
                <td>{{ entity.numberOfCarSpaces }}</td>
                <td>{{ entity.numberOfLorrySpaces }}</td>
                <td>{{ entity.numberOfMotorbikeSpaces }}</td>
                <td>{{ entity.maxStay }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('carpark_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('carpark_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('carpark_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
