{% extends '::base.html.twig' %}
{% block title %}Car Park List{% endblock %}

{% block body -%}
    <h1>Car Park List</h1>

    <table class="records_list table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Max Height</th>
                <th>Car Spaces</th>
                <th>Lorry Spaces</th>
                <th>Motorbike Spaces</th>
                <th>Max Stay</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('carpark_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.maxHeight }}</td>
                <td>{{ entity.numberOfCarSpaces }}</td>
                <td>{{ entity.numberOfLorrySpaces }}</td>
                <td>{{ entity.numberOfMotorbikeSpaces }}</td>
                <td>{{ entity.maxStay }}</td>
                <td>
                    <a class="btn btn-default btn-xs" href="{{ path('carpark_show', { 'id': entity.id }) }}">show</a>
                    <a class="btn btn-default btn-xs" href="{{ path('carpark_edit', { 'id': entity.id }) }}">edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        <a class="btn btn-default" href="{{ path('carpark_new') }}">
            New Car Park
        </a>
    {% endblock %}
