{% extends '::base.html.twig' %}
{% block title %}Stay List{% endblock %}

{% block body -%}
    <h1>Stay List</h1>

    <table class="records_list table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Entry Time</th>
                <th>Exit By Time</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('stay_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{% if entity.entryTime %}{{ entity.entryTime|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.exitByTime %}{{ entity.exitByTime|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <a class="btn btn-default btn-xs" href="{{ path('stay_show', { 'id': entity.id }) }}">show</a>
                    <a class="btn btn-default btn-xs" href="{{ path('stay_edit', { 'id': entity.id }) }}">edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        <a class="btn btn-default" href="{{ path('stay_new') }}">
            New Stay
        </a>
    {% endblock %}
